**/__pycache__/
/__pycache__/
**/*.ipynb
**/data/
/data/
.vscode/
test/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
build/
test/
typings/
cython_debug/
**/*.c
**/*.cpp
ddos_detection/tools/**
pyrightconfig.json